.main {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.main a {
  text-decoration: none;
  color: rgb(0, 111, 185);
}

@media screen and (max-width: 800px) {
  .main {
    font-size: 1rem;
  }
}
