.starlink__header {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.starlink__select__header {
  display: flex;
  width: 60%;
  margin: 3rem auto;
  justify-content: space-between;
  font-weight: 300;
}

.starlink__select__header div p:nth-child(1) {
  font-size: 2rem;
  margin-bottom: 4px;
}

.starlink__select__header div p:nth-child(2) {
  font-size: 1.3rem;
  color: rgb(190, 192, 196);
}

.starlink__card {
  margin: 1rem;
  background-color: rgb(12, 14, 16);
  /* width: 20rem; */
  width: 60%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  min-height: 13rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.starlink__card__header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}

.starlink__card__header p:nth-child(1) {
  font-size: 2rem;
  font-weight: 300;
}

.starlink__card__header p:nth-child(1)::after {
  margin: 15px 8px;
}

.starlink__card__header p:nth-child(2) {
  font-size: 1.2rem;
  color: rgb(190, 192, 196);
}

.starlink__card__data {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.starlink__card__table {
  font-size: 1.2rem;
  font-weight: 300;
}

.starlink__card__table tr {
  display: block;
  margin-bottom: 2px;
}

.starlink__card__table tr td:nth-child(1) {
  color: rgb(190, 192, 196);
}

@media screen and (max-width: 1200px) {
  .starlink__card {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .starlink__select__header {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .starlink__select__header div {
    margin-bottom: 1rem;
  }

  .status__select {
    margin: 1rem 0;
  }
  .starlink__card {
    width: 100%;
  }

  .starlink__card__header {
    flex-wrap: wrap;
  }

  .starlink__card__header p:nth-child(1) {
    font-size: 1.5rem;
    padding-right: 2rem;
  }

  .starlink__card__header p:nth-child(1)::after {
    margin: 10.5px 4px;
  }

  .starlink__card__header p:nth-child(2) {
    font-size: 1.1rem;
  }

  .starlink__card__data {
    flex-direction: column;
    align-items: flex-start;
  }

  .starlink__card__table {
    margin: 1rem 0;
    font-size: 1.1rem;
  }
}
