.main {
  background-image: url("../../assets/rockets-bg.jpg");
}

.main div p:nth-child(3) {
  text-align: right;
}

.rockets__button::before {
  width: 100%;
  top: -100%;
}

.rockets__button:hover::before {
  top: 0;
}
