.main {
  background-image: url("../../assets/starlink-bg.jpeg");
}

.main div p:nth-child(3) {
  font-size: 2.5rem;
}

.starlink__button::before {
  width: 0;
  top: 0;
  bottom: 0;
}

.starlink__button:hover::before {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .main div p:nth-child(3) {
    font-size: 1.3rem;
  }
}
