@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

#root {
  position: relative;
}

/* Common Styles for components */

.container {
  padding: 10rem 20rem;
  min-height: 100vh;
  font-weight: 300;
}

.bg-overlay {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 100;
}

.bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 20px 32px;
  font-weight: 800;
  transition: all 200ms ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  content: "";
  background-color: white;
  height: 100%;
  left: 0;
  z-index: -20;
  transition: all 0.5s;
}

.btn:hover {
  color: black;
}

.toolTip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolTipText {
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  visibility: hidden;
  background-color: black;
  padding: 10px 12px;
  border-radius: 6px;
  transition: all 400ms;
}

.toolTip:hover .toolTipText {
  opacity: 1;
  visibility: visible;
}

.bb__table {
  width: 70%;
  margin: 3rem auto;
}

.bb__table__header {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.bb__table__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  font-size: 1.25rem;
  margin-bottom: 8px;
  padding: 6px 0;
}

.bb__table__row p:nth-child(2) {
  text-align: right;
  margin-left: 2rem;
}

.social__links__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6rem 1rem;
}

.social__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  width: 6rem;
  margin: 1rem;
  padding: 0.5rem;
  color: white;
  border-radius: 1rem;
  transition: all 400ms;
  font-weight: 300;
}

.social__link:hover {
  background-color: rgb(16, 16, 16);
}

.social__link svg {
  margin-bottom: 4px;
}

.status {
  position: relative;
}

.status::after {
  position: absolute;
  display: inline-block;
  content: "";
  margin: 7.5px;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

.status__active::after {
  background-color: #46ac5e;
}

.status__inactive::after {
  background-color: red;
}

.scroll__loader {
  font-size: 300;
  font-size: 2rem;
  text-align: center;
}

select {
  background: rgb(12, 14, 16);
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  display: block;
}

/* Common Styles for components */

@media screen and (max-width: 1600px) {
  .container {
    padding: 10rem 14rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 10rem 7rem;
  }
  .bb__table {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 10rem 3rem;
  }

  .bb__table {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding: 10rem 1rem;
  }

  .toolTipText {
    padding: 4px 6px;
  }

  .btn {
    padding: 12px 18px;
    border: 1px solid white;
  }

  .bb__table {
    width: 100%;
  }

  .bb__table__header {
    font-size: 1.75rem;
  }

  .bb__table__row {
    font-size: 1.1rem;
  }

  .social__links__container {
    margin: 2rem 0;
  }

  .social__link {
    height: 4rem;
    width: 4rem;
    margin: 8px;
    padding: 4px;
  }
}
